.App-body {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;

  width: 90%;
  height: 85vh;

  align-items: center;
  background-color: white;
}

.view-books {
  width: 100%;
  background-color: white;
}



table {
  border-collapse: collapse;
  width: 100%;
  margin: 2%;

}

th,
td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-top: 1px solid rgb(0, 0, 0);
}

/* th,
td {
  text-align: center;
} */

.book-list-btn:hover {
  background-color: rgb(196, 199, 198);
}

tr:hover {
  background-color: rgb(196, 199, 198);
}

input {
  border: none;
  background-color: rgb(219, 226, 232);
}

button {
  width: 170px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(14, 249, 249);
}

.book-list-btn {
  margin: 0px;
  width: 100%;

  border-radius: 0px;
  background-color: white;
  border: none !important;
}

.add-btn {
  margin-Top: 7px;
  float: right;
}

/* Pagination======> */

.pagination {
  margin-top: 45px;
  margin-left: -40px;
  display: flex;
  list-style: none;
  outline: none;
}

.pagination>.active>a {
  background-color: #47ccde;
  color: #fff;
}

.pagination>li>a {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination>li>a,
.pagination>li>span {
  color: #47ccde;
  background-color: azure;
}