.App-body {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;

  width: 90%;
  height: 85vh;

  align-items: center;
  background-color: white;
}

.view-books {
  width: 100%;
  background-color: white;
}

button {
  width: 170px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(14, 249, 249);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 2%;

}

th,
td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-top: 1px solid rgb(0, 0, 0);
}

/* th,
td {
  text-align: center;
} */

.book-list-btn {
  margin: 0px;
  width: 100%;

  border-radius: 0px;
  background-color: white;
  border: none !important;
}


/* tr:hover {
  background-color: coral;
} */

input {
  border: none;
}

.add-btn {
  margin-Top: "7px" !important;
  float: "right" !important;
  color: red;
}